section {
  margin: 0 8px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

section .info-jogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.info-jogo>* {
  margin: 8px;
  width: 250px;
}

.texto-h2 {
  color: var(--color-primaria);
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  max-width: 90%;
}

.texto-h3 {
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 20px;
  text-align: center;
  color: var(--color-secundaria);
}

.imagem {
  margin-top: 32px;
  position: relative;
}

section img {
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
}

.favorito-btn {
  background-color: #080b13;
  border: solid 1px #111725;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  cursor:pointer;
  font-size: 28px;
  color: #ffffff;
  outline: none;
  position: absolute;
  top: 30px;
  left: 240px;
}

.favorito-btn:hover {
  color: #bebebe;
  transform: scale(1.1);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

section span {
  margin-bottom: 64px;
}