:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --color-primaria: #ffff;
  --color-secundaria: #1C45BE;
  --color-terciaria: rgb(182, 182, 182);
  --color-hover:#081436;
  --color-background: #0C101A;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: var(--font-montserrat);
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: black;
}

@media (max-width: 900px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body,
  html {
    overflow-x: hidden;
  }
}