.secao-principal{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.493);
}

input, button{
    border: none;
    outline: none;
}

.barra-pesquisa{
    position: relative;
    width: 700px;
}

.barra-pesquisa input {
  width: 100%;  
  height: 50px;
  color: var(--color-secundaria);
  background-color: var(--color-background);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 15px;
  font-size: 18px;
}

.barra-pesquisa button {
  position: absolute;
  left: 100%;              
  top: 0;
  height: 50px;
  width: 60px;
  color: var(--color-secundaria);
  background-color: var(--color-background);
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
}

.favoritos{
    margin-right: 30px;
    font-size: 18px;
    background-color: var(--color-background);
    color: var(--color-primaria);
    padding: 15px;
    border: solid 1px var(--color-secundaria);
    border-radius: 15px;

}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 999;

  background-color: rgba(0, 0, 0, 0.75);

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay button{
    position: sticky;
    z-index: 2;
    top: 0%;
    background-color: transparent;
    border-radius: 100%;
}

.overlay img{
    width: 60px;
}

.overlay-conteudo {
  width: min(900px, 90vw);
  max-height: 85vh;
  overflow-y: auto;

  background-color: var(--color-background);
  border-radius: 10px;
  padding: 24px;
}

.overlay-conteudo p{
    color: var(--color-primaria);
    text-align: center;
    font-size: 18px;
}